<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>652763858765-ati8ar1t20ofebu4a39nhk7ea9oqmuu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652763858765-ati8ar1t20ofebu4a39nhk7ea9oqmuu1</string>
	<key>API_KEY</key>
	<string>AIzaSyCWNfKRkUJ0svvH0dUyfE9CfD3jZDZNy6c</string>
	<key>GCM_SENDER_ID</key>
	<string>652763858765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scotthinc.com</string>
	<key>PROJECT_ID</key>
	<string>corona-sdk-4-82825584</string>
	<key>STORAGE_BUCKET</key>
	<string>corona-sdk-4-82825584.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:652763858765:ios:0fea40cbf5189d63</string>
	<key>DATABASE_URL</key>
	<string>https://corona-sdk-4-82825584.firebaseio.com</string>
</dict>
</plist>